/* Основное/Универсальное*/

  html {
  box-sizing: border-box;
  }

  *, *::before, *::after { 
  box-sizing: border-box; 
  }

  body {
  font-family: "Roboto","Arial", sans-serif; 
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
  font-style: normal;
  }

  a {
  text-decoration: none;
  color: #000000;
  }

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

  .container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;  
  }

  .fieldset-border {
  border: 0 none;
  }

  .button {
  font-size: 16px; 
  line-height: 18px; 
  text-align: center; 
  vertical-align: middle;
  color: #FFFFFF;
  border: none;
  background-color: #fb565a;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2%;
  display: inline-block;
  width: 240px;
  padding: 18px 30px;
  text-align: center;
  }

  /* Главная*/

  .main-header {
  min-height: 67px;
  border-top: 1px solid transparent;
  background-color: #eeeeee;
  padding-bottom: 18px;
  }

  .header-wrapper {
  margin-top: 49px;
  }
 
  .nav-menu a {
  font-size: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  line-height: 30px;
  font-weight: 500;
  outline: none;
  } 

  .nav-menu a:focus,
  .nav-menu a:hover {
  color: #FB565A;
  } 
   
  .nerds-logo:hover {
  opacity: 0.8;
  }

  .nerds-logo:active {
  opacity:0.3;
  }

  .nav-menu li:active {
  color: #000;
  opacity: 0.3;
  }

  .active-line {
  border-bottom: 2px solid #fb565a;
  cursor: pointer;
  }

  .main-navigation {
  min-height: 67px;  
  display: flex;
  justify-content: space-between;
  }

  .main-header-logo {
  width: 160px;
  height: 65px;
  }

  .main-navigation-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  }

  .site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  width:550px;  
  margin-left: 202px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  }

  .site-navigation  li:nth-child(4n) {
  margin: 0;
  }

  .site-navigation a {
  display: block;
  padding: 12px 10px;
  vertical-align: middle;
  }

  .user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-width:180px;
  min-height: 50px;
  margin-left: 245px;
  padding-left: 26px;
  position: relative;
  }

  .basket {
  display: block;
  margin-top:10px;
  }

  .basket::before {
  content: "";
  width:15px;
  height: 15px;
  position: absolute;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 15px;
  left: -16px;
  opacity: 0.4;
  }
  
  .basket:hover {
  color: #f6f6f6;
  }
  .basket:active {
  opacity: 0.3;
  }
  /*Основное содержание  */
  
  .features {
  margin-bottom: 80px;
  background-color: #eeeeee;
  }
  
  .slide {
  display: flex;
  min-height: 266px;
  justify-content: space-between;
  align-items: center;
  }

  .slide-description {
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }
  
  .slide-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  }

  .slide p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  }

  .slide a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  }

  .slider-img{
  padding-left: -50px;
  }

  .slide-2,
  .slide-3 {
  display: none;
  }

  .products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 162px;
  min-height: 347px;
  display: flex;
  flex-wrap: wrap;
  }

  .products-list li {
  width: 300px;
  margin-right: 100px;
  }

  .products-list li:nth-of-type(3n) {
  margin: 0;
  }

  .products-list li:first-of-type::before {
  content: "";
  background-image: url(../img/illustration-1.png);
  margin-bottom: 26px;
  display: block;
  min-height: 146px;
  }

  .products-list li:nth-of-type(2)::before {
  content: "";
  background-image: url(../img/illustration-2.png);
  margin-bottom: 26px;
  display: block;
  min-height: 146px;
  }

  .products-list li:last-of-type::before {
  content: "";
  background-image: url(../img/illustration-3.png);
  margin-bottom: 26px;
  display: block;
  min-height: 146px;
  }

  .products-list h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  margin:0;
  margin-bottom: 26px;
  }

  .products-list p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
  margin-bottom: 35px;
  }

  .about-us {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
  min-height:408px;
  }

  .about-us-column {
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:650px;
  }

  .about-us-heading {
  font-weight: 500;
  width:650px;
  font-size: 45px;
  line-height:1;
  margin-bottom: 35px;
  }

  .about-us-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
 
  width:646px;
  margin: 0;
  margin-bottom: 47px;
  }

  .list-name {  
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  font-weight: 500;
  margin: 0;
  }

  .service {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 3;
  color: #283136;
  padding: 0;
  }

  .service li::before {
  content: "";
  display: inline-block;
  width:25px;
  margin-right: 10px;
  height: 2px;
  background-color: #fb565a;
  vertical-align:middle;
  }

  .advantages {
  margin-right: 60px;
  margin: 0;
  width: 360px;
  min-height: 409px;
  }

  .advantages::before {
  content: url(../img/nerds-illustration.jpg);
  margin-bottom: 41px;
  display: block;
  height:208px;
  }

  .advantages p {
  font-weight: 700;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px;
  }

  .advantages tr {
  font-size: 16px;
  color: #283136;
  }

  .advantages tr:first-of-type {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
  }

  .table-percent{
  padding-bottom: 27px;
  padding-right: 25px;
  }
  
  .partners-list {
  list-style: none;
  padding: 0;
  margin: 0;

  width:1160px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width:1086px;
  margin:0;
  margin-bottom: 126px;
  }

  .partners-list li {
  margin-bottom: 20px;
  }

  .partners-list a {
  outline: none;
  opacity: 0.3;
  }

  .partners-list a:focus{
  opacity: 1;
  }

  .partners-list a:hover {
  opacity: 1;
  }

  .partners-list a:active {
  opacity: 0.1;
  }

  .contact-us {
  margin-bottom: 69px;
  position: relative;
  }

  .contact-us img {
  width:100%;
  display: block;
  }

  .contacts {
  background-color: #fff;
  position: absolute;
  left:140px;
  bottom:54px; 
  width:319px;
  height:308px;
  padding-left:54px;
  display: flex;
  flex-direction: column;
  }

  .contacts p {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  margin-top:54px;
  margin-bottom:32px;
  }

  .contacts address {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666; 
  width: 200px;
  margin-bottom: 37px;
  }

  .phone-number {
  padding-top:10px;
  font-style: normal;
  color: #666666;
  outline: none;
  display: block;
  }

  .phone-number::before {
  content: "тел.";
  }

  .phone-number:focus {
  color: #FB565A;
  }

  .contact-us::before {
  content: "";
  display: block;
  position: absolute;
  width: 231px;
  min-height: 190px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  left: 1110px;
  top:89px;
  }

  /*Футер*/

  .main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
  }

  .social-media {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 260px;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  .social-media li {
  margin-bottom: 10px;
  }

  .social-media a {
  display: block;
  width: 79px;
  height:79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  outline: none;
  }

  .social-media a:hover {
  background-color: #e74246;
  }

  .social-media a:focus {
  background-color: #e74246;
  }

  .social-media a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b; 
  }

  .icon {
  background-position: center;
  background-repeat: no-repeat;
  }

  .vk-icon {
  background-image: url(../img/vk-icon.svg);
  }

  .fb-icon {
  background-image: url(../img/fb-icon.svg);
  }

  .inst-icon {
  background-image: url(../img/insta-icon.svg);
  }

  .main-footer p {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-right: 139px;
  }

  .main-footer span {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  }

/*Каталог*/

  .shop-title {   
  font-size: 55px;  
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 82px;
  padding-bottom:116px;
  min-height: 43px;
  }

  .catalog-columns {
  display: flex;
  justify-content: space-around;
  }

  .filters {
  width: 261px;
  }

  .heading {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #000;
  text-transform: uppercase;
  margin:0;
  }

  .grid-sort {
  list-style: none;
  }

  .grid-sort label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
  }

  .features-sort {
  list-style: none;
  }

  .features-sort label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #283136;
  }

  .catalog {
  width: 760px ;
  } 

  .sort-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 57px;
  }

  .sort {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 240px;
  min-width: 271px;
  }

  .sort li {
  display: inline;
  }

  .sort li:not(:first-of-type) {
  margin-left: 27px;
  }

  .sort a {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000; 
  opacity: 0.3;
  }

  .sort a:hover {
  color:#000;
  opacity: 0.6;
  }

  .sort a:active {
  color: #000000;
  opacity: 1;
  }

  .switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 48px;
  }

  .switcher li {
  display: inline-block;
  }

  .switcher li:last-of-type {
  margin-left: 18px;
  }
  
  .catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
  } 

  .catalog-item {
  width:360px;
  height:616px;
  margin-bottom: 30px;
  position: relative;
  
  }

  .catalog-item::before {
  content: "";
  display: block;
  background-image: url(../img/browser.svg);
  height:40px;
  width:360px;
  opacity: 0.12;
  }

  .shape {
  width:360px;
  height: 576px;
  background-image: url(../img/img-sedona.jpg);
  background-repeat: no-repeat;
  display: inline-block
  }

  .details {
  margin-top:345px;
  position: relative;
  min-height:231px;
  background-color: #eee;
  width:360px;
  display: none;
  }
  
  .sedona:hover .details{
  display: block;
  }

  .details h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  text-transform: uppercase;
  }

  .details p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color:#666;
  margin:25px auto;
  line-height: 1.12;
  width:250px;
  margin-bottom:30px;
  }

  .button-buy {
  margin: 0 auto;
  min-height: 50px;
  width:200px;
  display: block;
  text-transform: uppercase;
  }

  .pagination-wrapper {
  margin-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  width: 545px;
  }

  .pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  }

  .pagination li {
  height:50px;
  background-color: #eee;
  }

  .pagination li:not(:first-of-type){
  margin-left: 11px;
  }

  .pagination a {
  display: flex;
  padding-left: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 20px;
  }

  .next-page {
  padding: 16px 78px 16px 79px;
  background-color: #eee;
  text-transform: uppercase;
  margin-left: 11px;
  }

  /*Блок напишите нам */

  .write-us {
  width: 960px;
  min-height: 590px;
  display: none;
  }

  .write-us-container {
  margin: 0 auto;
  width:769px;  
  }

  .write-us h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  min-height: 33px;
  margin-bottom: 49px;
  }

  .write-us-form {
  display: flex;
  width:760px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-height: 330px;  
  }
  
  .user-data {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
  }

  .user-data p:last-of-type {
  margin-left:40px;
  }  

  .write-us-form p {
  position: relative;
  }

  .write-us-form label{
  position: absolute;
  top: -25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  }

  .write-us input[type="text"],
  .write-us input[type="email"] {
  width: 360px;
  height: 50px;
  padding-top:18px;
  padding-bottom: 19px;
  padding-left: 14px;
  }
 
  .write-us input,
  .write-us textarea {
  font-size: 16px;
  font-weight: normal;
  border: solid 2px #d7dcde;
  }

  .write-us-form textarea {
  width: 760px;
  height: 115px;
  resize: none;
  padding-top:10px;
  padding-left: 14px;
  }

  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
  }
  
  /*Кнопки */

  .button-order{
  width: 160px;
  padding-top: 15px;
  padding-left: 39px;
  padding-bottom: 18px;
  padding-right: 39px;
  }

  .button-write-us {
  padding-top: 17px;
  padding-right: 47px;
  padding-bottom: 23px;
  padding-left: 36px;
  width:220px;
  }

  .catalog-button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  text-align: center;
  text-decoration: none;
  }

  .button-send {
  width:260px;
  }

  .button:hover {
  background-color: #e74246;
  }

  .button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  }

 